<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38407288-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 90px;
        padding-bottom: 40px;
        background-color: #006576;
        color:white;
        font-family: Helvetica, Arial, sans-serif;
      }


.signupHome {
  color:white;
  font-size: 72px;
  line-height: 60px;
  padding-bottom: 30px;
  letter-spacing: -0.07em;
}

.pushIMGtobottom {
  padding-top: 400px;
}

.footerPush {
  padding-top: 275px;
}

.signupText {
  color:white;
  font-size: 24px;
  line-height: 22px;
  font-weight: normal;
}


    </style>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="span8">


      <h1 class="signupHome">Take control<br>of your tournament.</h1>

<p class="signupText">prepti.me is the best way to manage your debate tournament, because your tab suite shouldn't control you.<br><br>We're excited to share it with you soon. Sign up for updates.</p>
<br>
<div class="input-append">
  <input class="input-large" id="appendedInputButton" type="text" placeholder="you@email.com">
  <button class="btn btn-defualt" type="button">Sign Up!</button>
</div>


<p class="footerPush">Copyright &copy; 2013 prepti.me. All Rights Reserved. <a href="mailto:geoff@prepti.me,roshan@prepti.me">Contact Us</a>.</p>

        </div>
        <div class="span4">
      <!-- <img src="img/logo-full-white.png" class="pull-right pushIMGtobottom" alt="prepti.me logo"> -->
      <%= image_tag('logo-full-white.png', :class => "pull-right pushIMGtobottom") %>
        </div>
      </div>

    </div> <!-- /container -->

  </body>
</html>